:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-text-color: #2196f3;
  --white-text-color: #ffffff;
  --icon-color: #afb1b8;
  --secondary-bg-color: #f5f4fa;
  --dark-bg-color: #2f303a;
  --black-color: #000000;
  --item-gap: 30px;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  color: var(--primary-text-color);
  font-family: 'Roboto', 'Verdana', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

img{
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}


.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;

  color: var(--accent-text-color);
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo--dark {
  color: #000000;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__navigation {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header__navigation .link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms var(--cubic);
}

.header__navigation .link:hover,
.header__navigation .link:focus {
  color: var(--accent-text-color);
}

.header__navigation .header__link--current {
  color: var(--accent-text-color);
}

.header__link{
  /* background-color: green; */
}

.header__link--current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-text-color);
  border-radius: 2px;
}

.header__contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 50px;
}

.header__contact__link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  gap: 10px;
  align-items: center;

  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms var(--cubic);
}

.header__contact__link:hover,
.header__contact__link:focus {
  color: var(--accent-text-color);
}

.header__contact__link-icon {
  fill: currentColor;
}



.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero {
  margin: 0 auto;
  min-height: 600px;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero.jpg');
  background-color: #c4c4c4;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.hero__title {
  width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  color: var(--white-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.btn {
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--white-text-color);
  background-color: var(--accent-text-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  transition: background-color 250ms var(--cubic);
}

.btn:hover,
.btn:focus {
  background-color: #188ce8;
}


.section.pb-0 {
  padding-bottom: 0;
}

.caracteristics__list {
  display: flex;
  gap: var(--item-gap);
}

.caracteristics__list .header__item {
  flex-basis: calc((100% - 90px) / 4);
}

.caracteristics__icon__container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 120px;
  margin-bottom: 30px;
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
}

.feature-title {
  margin-bottom: 10px;

  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-text {
  line-height: 1.71;
}

.section-title {
  margin-bottom: 50px;

  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.example {
  display: flex;
  gap: var(--item-gap);
}

.example__item {
  position: relative;
}

.example__image {
  display: block;
}

.example__title {
  position: absolute;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;

  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}



.team {
  background-color: var(--secondary-bg-color);
}

.members {
  display: flex;
  gap: var(--item-gap);
}

.members__item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.members__photo {
  display: block;
}

.members__title {
  margin-bottom: 10px;

  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.members__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.members__content {
  padding-top: var(--item-gap);
  padding-bottom: var(--item-gap);
}

.members__contacts {
  display: flex;
  gap: 10px;
  padding-left: 32px;
  padding-right: 32px;
}

.members__contact__item {
  width: 44px;
  height: 44px;
}

.members__contact__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--icon-color);

  transition: color 250ms var(--cubic), background-color 250ms var(--cubic);
}

.members__contact__icon {
  fill: currentColor;
}

.members__contact__link:hover,
.members__contact__link:focus {
  background-color: var(--accent-text-color);
  color: var(--white-text-color);
}



.clients {
  display: flex;
  gap: 30px;
}

.clients__item {
  flex-basis: calc((100% - 150px) / 6);
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);

  transition: color 250ms var(--cubic), border-color 250ms var(--cubic);
}

.clients__icon {
  fill: currentColor;
}

.clients__link:hover,
.clients__link:focus {
  border-color: var(--accent-text-color);
  color: var(--accent-text-color);
}


.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-bg-color);
  display: flex;
  justify-content: space-between;
}

.footer .logo {
  margin-bottom: 20px;
  padding: 0;
}

.logo-light {
  color: #ffffff;
}

.address .header__item:not(:last-child) {
  margin-bottom: 9px;
}

.address a {
  color: var(--white-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  transition: color 250ms var(--cubic);
}

.address a:hover,
.address a:focus {
  color: var(--accent-text-color);
}

.address .contact {
  color: rgba(255, 255, 255, 0.6);
}

.footer__blocks {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer__links {
  display: flex;
  gap: 20px;
  align-items: baseline;
}

.footer__social {
  display: flex;
  gap: 10px;
}

.footer__title {
  margin-bottom: 20px;
  color: var(--white-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.footer__social__item {
  width: 44px;
  height: 44px;
}

.studio-contact-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white-text-color);

  transition: background-color 250ms var(--cubic);
}

.studio-contact-icon {
  fill: currentColor;
}

.studio-contact-link:hover,
.studio-contact-link:focus {
  background-color: var(--accent-text-color);
}

.footer__form {
  display: flex;
}

.footer__form input {
  width: 358px;
  height: 50px;
  padding: 14px 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--dark-bg-color);
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-form input:not(:placeholder-shown) {
  background-color: var(--dark-bg-color);
}

.footer__button {
  display: flex;
  gap: 10px;
  margin-left: 12px;
}

.footer__form__icon {
  fill: currentColor;
}


.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms var(--cubic), visibility 250ms var(--cubic);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--cubic);
}

.modal__close__button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: var(--black-color);
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: color 250ms var(--cubic);
}

.modal__close__button:hover,
.modal__close__button:focus {
  color: #2196f3;
}

.close__icon {
  fill: currentColor;
}

.form {
  width: 100%;
  height: 100%;
}

.form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.form__field {
  margin-bottom: 10px;
}

.form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.form__field__input {
  position: relative;
}

.form__input {
  width: 100%;
  padding: 11px 11px 11px 41px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--cubic);
}

.form__input:focus {
  border-color: var(--accent-text-color);
}

.form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--secondary-text-color);
  transition: fill 250ms var(--cubic);
}

.form__input:focus + .form-icon {
  fill: var(--accent-text-color);
}

.comment__field {
  margin-bottom: 20px;
}

.form__input[name='comment'] {
  height: 120px;
  padding: 11px 15px;
  resize: none;
}

.form__input:required:valid:not(:placeholder-shown){
  border-color: green;
}

.form__input:required:invalid:not(:placeholder-shown){
  border-color: rgb(128, 51, 0);
}

.checkbox__field {
  margin-bottom: 30px;
}

.check {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-left: 12px;
}

.checkbox {
  position: relative;
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--secondary-text-color);
  border-radius: 2px;
  transition: background-color 250ms var(--cubic), border-color 250ms var(--cubic);
}

.check__icon {
  position: absolute;
  top: -2px;
  left: -2px;
  opacity: 0;
  transition: opacity 250ms var(--cubic);
  fill: white;
}

.checkbox__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


.checkbox__input:focus + .checkbox {
  border-color: var(--accent-text-color);
}

.checkbox__input:checked + .checkbox {
  border-color: var(--accent-text-color);
  background-color: var(--accent-text-color);
}

.checkbox__input:checked + .checkbox .check__icon {
  opacity: 1;
}

.form__policy {
  color: var(--primary-text-color);
  line-height: 1.71;
}

.form__policy a {
  color: var(--accent-text-color);
}


.buttons {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.button {
  display: inline-block;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;

  color: var(--secondary-text-color);
  background-color: var(--secondary-bg-color);
  box-shadow: none;
  cursor: pointer;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  transition: color 250ms var(--cubic), background-color 250ms var(--cubic),
    box-shadow 250ms var(--cubic);
}

.button:hover,
.button:focus {
  color: var(--white-text-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: var(--item-gap);
}

.project__item {
  flex-basis: calc((100% - 2 * var(--item-gap)) / 3);
}

.project__link {
  display: block;
  box-shadow: none;
  transition: box-shadow 250ms var(--cubic);
}

.project__link:hover,
.project__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__thumb {
  position: relative;
  overflow: hidden;
}

.project__image {
  display: block;
  max-width: 100%;
  height: auto;
}

.project__content {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.project__content__title {
  margin-bottom: 4px;

  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project__content__type {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.project__description {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 24px;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--white-text-color);
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;

  transform: translateY(100%);
  transition: transform 250ms var(--cubic);
}

.project__link:hover .project__description,
.project__link:focus .project__description {
  transform: translateY(0);
}


.form__input__container{
  position: relative;
}

.form__input__icon{
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}

.form__input__field{
  padding: 8px 16px 8px 34px;
  font-size: 100%;
  line-height: 1.15
}


tr{
  background-color: brown;
  border: solid 1px black;
}

.bg {
  width: 900px;
  height: 900px;
  background-image: url("../images/img@400.jpg"); 
  background-size: cover;
}

@media (min-width:600px) and (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 2/1),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .bg {
  background-image: url("../images/img@600.jpg");
  }
}

@media (min-width:1200px) and (min-device-pixel-ratio: 3),
(-webkit-min-device-pixel-ratio: 3),
(-o-min-device-pixel-ratio: 3/1),
(min-resolution: 288dpi),
(min-resolution: 3dppx) {
  .bg {
  background-image: url("../images/img@1200.jpg");
    
  }
}