* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.form {
  margin: 16px 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 16px;
}

.gallery-item {
  width: 300px;
  height: auto;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  row-gap: 64px;
}
