$primary-text-color: #757575;
$secondary-text-color: #212121;
$accent-text-color: #2196f3;
$white-text-color: #ffffff;
$icon-color: #afb1b8;
$secondary-bg-color: #f5f4fa;
$dark-bg-color: #2f303a;
$black-color: #000000;
$item-gap: 30px;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);